.content-page{
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mat-card{
    margin: 38px;
    cursor: pointer;
}
.buttons{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.mat-raised-button.mat-button-base{
    width: 160px;
    height: 40px;
    font-size: larger;
    background-color: #b7b5b5;
}
